{% extends 'base.html' %}

{% load static %}

{% block title %}
  About
{% endblock title %}

{% block main %}

<!-- ============================================-->
<!-- <Top section> begin ============================-->
<section class="bg-dark text-center py-9">

  <div class="container">
    <p class="text-light fs-1">About</p>
    <div class="col-12 col-md-7 mx-auto">
      <h1 class="text-white fs-lg-7 fs-md-4 fs-3 my-4">Medical Technology and Diagnostic Equipments Supplier</h1>
    </div>
    <p class="w-md-50 text-light mx-auto">We supply Culture Media & Suppliments, Immunohistochemistry & Histology, 
      Veterinary Lab Reagents, BioMedical Research Tools, Dental & Surgical Instruments, Water analysis Supplies, 
      Consumables & Disposables, Diagnostic Equipments, And Infection Control Products</p>
  </div>
  <!-- end of .container-->

</section>
<!-- <Top section> close ============================-->
<!-- ============================================-->

<!-- ============================================-->
<!-- <section> begin ============================-->
<section class="pb-0">

  <div class="container">
    <div class="gallery-wraper">
      <div class="img-wraper"><img class="img-fluid" src="{% static "assets/img/gallery/1.png" %}" alt="" /></div>
      <div class="img-wraper"><img class="img-fluid" src="{% static 'assets/img/gallery/pexels-chokniti-khongchum-2280547.jpg' %}" alt="" /></div>
      <div class="img-wraper"><img class="img-fluid" src="{% static 'assets/img/gallery/3.png' %}" alt="" /></div>
      <div class="img-wraper"><img class="img-fluid" src="{% static 'assets/img/gallery/4.png' %}" alt="" /></div>
      <div class="img-wraper"><img class="img-fluid" src="{% static 'assets/img/gallery/5.png' %}" alt="" /></div>
    </div>
    <div class="px-xl-8 px-md-5 px-3 py-8">
      <p class="fs-1">Our Story</p>
      <h1 class="fs-lg-6 fs-md-4 fs-3 my-4">Dealers of Medical Equipment & Laboratory Supplies.</h1>
      <p class="fs-1">The Heavy Champion LTD stands as a distinguished and dynamic entity within the realm of healthcare, 
        specializing in the provision of top-tier medical equipment and supplies. Established in 2021, our company has swiftly ascended 
        to a prominent position, earning a reputation as a reliable and innovative partner for healthcare institutions and professionals 
        countrywide. Committed to advancing healthcare capabilities, we take pride in offering cutting-edge solutions that align with the 
        evolving demands of the medical landscape.
      </p>
    </div>
  </div>
  <!-- end of .container-->

</section>
<!-- <section> close ============================-->
<!-- ============================================-->

<!-- ============================================-->
<!-- <our_numbers section> begin ============================-->
<section class="bg-dark">

  <div class="container">
    <p class="text-center text-light">Our numbers</p>
    <h1 class="text-center text-white w-lg-75 mx-auto fs-xl-6 fs-lg-4 fs-3">Provides client with quality medical products together with statisfactory maintainance services.</h1>
    <div class="row mt-5">
      <div class="col-md-4 col-sm-6 text-center">
        <h1 class="text-success fs-5 fs-md-6 fs-lg-7 fs-xl-9">12</h1>
        <p class="text-light fs-2">Professionals</p>
      </div>
      <div class="col-md-4 col-sm-6 text-center">
        <h1 class="text-success fs-5 fs-md-6 fs-lg-7 fs-xl-9">5</h1>
        <p class="text-light fs-2">Years of Combined Experience</p>
      </div>
      <div class="col-md-4 col-sm-6 text-center">
        <h1 class="text-success fs-5 fs-md-6 fs-lg-7 fs-xl-9">1K</h1>
        <p class="text-light fs-2">Customers Nationwide</p>
      </div>
    </div>
  </div>
  <!-- end of .container-->

</section>
<!-- <our_numbers section> close ============================-->
<!-- ============================================-->

<!-- ============================================-->
<!-- <our_values section> begin ============================-->
<section class="">

  <div class="container">
    <div class="px-xl-8 px-md-5 px-3">
      <p class="fs-1">Our values</p>
      <h1 class="fs-lg-6 fs-md-4 fs-3 my-lg-4 my-3">Things in we believe</h1>
      <p class="w-lg-75 fs-1">Conversion angel investor entrepreneur first mover advantage. Handshake infographic mass market crowdfunding iteration. Traction stock user experience deployment beta innovator incubator focus.</p>
      <div class="row mt-5">
        <div class="col-md-3"><img class="img-fluid" src="{% static 'assets/img/values/3.png' %}" alt="" /></div>
        <div class="col-md-9 mt-2 mb-md-0">
          <h1 class="fs-2 fs-lg-3 my-2">Trust</h1>
          <p class="fs-1">Conversion angel investor entrepreneur first mover advantage. Handshake infographic mass market crowdfunding iteration.</p>
        </div>
      </div>
      <div class="row mt-5">
        <div class="col-md-3"><img class="img-fluid" src="{% static 'assets/img/values/2.png' %}" alt="" /></div>
        <div class="col-md-9 mt-2 mb-md-0">
          <h1 class="fs-2 fs-lg-3 my-2">Professionalism</h1>
          <p class="fs-1">Conversion angel investor entrepreneur first mover advantage. Handshake infographic mass market crowdfunding iteration.</p>
        </div>
      </div>
      <div class="row mt-5">
        <div class="col-md-3"><img class="img-fluid" src="{% static 'assets/img/values/1.png' %}" alt="" /></div>
        <div class="col-md-9 mt-2 mb-md-0">
          <h1 class="fs-2 fs-lg-3 my-2">Customer Satisfaction</h1>
          <p class="fs-1">Conversion angel investor entrepreneur first mover advantage. Handshake infographic mass market crowdfunding iteration.</p>
        </div>
      </div>
    </div>
  </div>
  <!-- end of .container-->

</section>
<!-- <our_values section> close ============================-->
<!-- ============================================-->

{% endblock main %}