{% extends "base.html" %}

{% load static %}

{% block title %}
Contact Us
{% endblock title %}

{% block main %}

<!-- ============================================-->
<!-- <section> begin ============================-->
<section>

<div class="container">
  <div class="border-bottom border-dark py-7">
    <p class="text-dark text-center fs-1">Contact Us</p>
    <h1 class="text-center fs-lg-7 fs-md-4 fs-3 text-dark mb-5">Thoughts and words</h1>
    <div class="row align-items-center gx-xl-7">
      
      <div class="col-lg-4 text-center">
        <h1 class="fs-xl-6 fs-md-4 fs-3 my-3">Address</h1>
        <div class="d-flex align-items-center justify-content-center justify-content-lg-start gap-3">
          <p class="mb-0">The Heavy Champion LTD, P.O. BOX 19876</p>
        </div>
        <div class="d-flex align-items-center justify-content-center justify-content-lg-start gap-2">
          <p class="mb-0">Kinondoni, Mwanamboka Dar es Salaam</p>
        </div>
      </div>

      <div class="col-lg-4 mt-5 mt-lg-0 text-center text-lg-start">
        <h1 class="fs-xl-6 fs-md-4 fs-3 my-3">Phone</h1>
        <div class="d-flex align-items-center justify-content-center justify-content-lg-start gap-3">
          <p class="mb-0">Mobile: +(255) 758 248 415</p>
        </div>
        <div class="d-flex align-items-center justify-content-center justify-content-lg-start gap-2">
          <p class="mb-0">Mobile: +(255) 624 359 390</p>
        </div>
      </div>

      <div class="col-lg-4 mt-5 mt-lg-0 text-center text-lg-start">
        <h1 class="fs-xl-6 fs-md-4 fs-3 my-3">Social</h1>
        <div class="d-flex align-items-center justify-content-center justify-content-lg-start gap-3">
          <p class="mb-0">Email: <a href="mailto:heavycham.co@gmail.com">heavycham.co@gmail.com</a></p>
        </div>
        <div class="d-flex align-items-center justify-content-center justify-content-lg-start gap-2">
          <p class="mb-0">Instagram: <a href="https://www.instagram.com/theheavychampionltd/">Theheavychamltd</a></p>
        </div>
      </div>

    </div>
  </div>
</div>
<!-- end of .container-->

</section>


</section>
<!-- <section> close ============================-->
<!-- ============================================-->

{% endblock main %}