{% extends "base.html" %}

{% load static %}

{% block title %}
Products
{% endblock title %}

{% block main %}

<!-- ============================================-->
<!-- <section> begin ============================-->
<section class="mt-6">

  <div class="container">
    <p class="text-center fs-1">Our Products</p>
    <h2 class="mx-auto text-center fs-lg-6 fs-md-5 w-lg-75">What We Provide</h2>
    <p class="py-1 px-2 rounded-2 bg-success fw-bold text-dark ms-2 text-center fs-1">Categories </p>
    <div class="row mt-5 gx-xl-7">
      
      {% for product in  products %}
      
        <div class="col-lg-4 col-md-6 mb-5 mb-md-0 text-center text-md-start h-auto">
          <div class="d-flex justify-content-between flex-column h-100">
            <a href="#">
              <img class="w-md-100 w-75 rounded-2" src="{{product.image.url}}" alt="" />
            </a>
            <div class="d-flex align-items-center justify-content-center justify-content-md-start gap-2 mt-3">
              <a href="#">
                <p class="fw-bold mb-0 text-black">Category</p>
              </a>
              <p class="mb-0">{{product.collection}}</p>
            </div>
            <a href="#">
              <h5 class="mt-1 mb-3 fs-0 fs-md-1">{{product.description}}</h5>
            </a>
            <div class="d-flex align-items-center justify-content-center justify-content-md-start gap-3 mb-md-5">
              <p class="mb-0 text-gray">{{product.title}}</p>
            </div>
          </div>
        </div>

      {% endfor %}
     
    </div>
    <div class="text-center mb-4">
      <button class="btn btn-outline-dark">Load More</button>
    </div>
  </div>
  <!-- end of .container-->

</section>
<!-- <section> close ============================-->
<!-- ============================================-->

{% endblock main %}